@model NewInventory

<div class="navbar">
    <h1>Let's get our money back.</h1>
    <a href="/dashboard">Go to Dashboard</a>
    <a href="/receipts/all">See all submitted receipts</a>
    <a href="/lostinventory/all">See all items in loss file</a>
    <a href="/contact/insurance">Send message to insurance</a>
    <a href="/contact/adjuster">Send message to adjuster</a>
</div>

<div class="login">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.halloweencostumes.com/products/27158/1-1/deluxe-santa-sack-update.jpg" alt="Sack">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.OriginalId.OldProduct</h5>
                <p class="card-text">@ViewBag.OriginalId.QuantityL</p>
                <p class= "card-text">@ViewBag.OriginalId.Retail</p>
                <p class="card-text">@ViewBag.OriginalId.Depreciation</p>
                <a href="###" class="btn btn-primary">Find Replacements(Will lead to google shopping)</a>
            </div>
    </div>
    <form action="/newInventorySubmission" method="post" enctype="multipart/form-data">
        <div class="form-control">
            @* Automatically put room in value for hidden input based on dashboard selection *@
            <input type="hidden" asp-for="Room" value="@ViewBag.OriginalId.Room">
            <input type="hidden" asp-for ="OriginalId" value="@ViewBag.OriginalId.UniqueID">
            <label for="ProductName">Product</label>
            <input asp-for="ProductName">
            <span asp-validation-for="ProductName"></span>
        </div>
        <div class="form-control">
            <label for="QuantityBought"> Quantity</label>
            <input asp-for="QuantityBought">
            <span asp-validation-for="QuantityBought"></span>
        </div>
        <div class="form-control">
            <label for="Price"> Price Paid</label>
            <input asp-for="UnitPrice">
            <span asp-validation-for="UnitPrice"></span>
        </div>
        <div class="form-control">
            <input type="file" name="ReceiptData" id="upload">
            <input type="submit" class="btn btn-info">
        </div>

    </form>
</div>